/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para o header */
header {
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #007bff, #0056b3); /* Degradê de azul */
    color: white;
    padding: 40px 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombramento para profundidade */
    border-bottom: 5px solid #003366; /* Linha sutil na parte inferior para destacar */
}

/* Logo - Ajustada para ficar acima do título */
.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px; /* Espaçamento entre a logo e o título */
}

/* Título principal */
#main-title {
    font-weight: bold;
    font-size: 38px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Sombras mais suaves para profundidade */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Formulário e demais estilos continuam os mesmos */



input[type="date"]:focus, select:focus, input[type="text"]:focus, input[type="url"]:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

